* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Fonts */
html,
body {
  background: #fff;
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
  color: #333;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: 18px;
}
/* General Elements */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.25);
  padding: 16px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* So the modal appears above other content */
  z-index: 999;
}
.blurred {
  -webkit-filter: blur(1px) grayscale(0.2);
  filter: blur(1px) grayscale(0.2);
}
#main-content {
  position: relative;
  background: #fff;
  min-height: 100vh;
  padding-bottom: 90px;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
@media screen and (min-width: 768px) {
  padding-bottom: 68px;
}
.btn {
  background: #0d47a1;
  border: 2px solid #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: pointer;
  font-family: 'Titillium Web', sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  margin: 3px;
  padding: 8px 12px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .btn {
    margin: 10px;
  }
}
.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* Header */
header {
  background-color: #fff;
  -webkit-box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
  padding: 16px;
  text-align: center;
}
header h1 {
  font-size: 22px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
header #subtitle {
  color: #888;
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
/* Game Options */
#stats-container {
  font-size: 18px;
  width: 100%;
  max-height: 0px;
  padding: 16px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  text-align: center;
  margin: 10px auto;
  max-width: 200px;
}
@media screen and (min-width: 1600px) {
  #stats-container {
    font-size: 22px;
    position: absolute;
    right: 25px;
    bottom: 80px;
    max-width: 350px;
    border-radius: 20px;
    -webkit-box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.5);
  }
}
#stats-container.active {
  max-height: 300px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
#game-options,
#game-complete {
  -webkit-transform: scale(1) translate(-50%, -50%);
  -ms-transform: scale(1) translate(-50%, -50%);
  transform: scale(1) translate(-50%, -50%);
  -webkit-transition: 0.6s cubic-bezier(0.8, -0.2, 0.2, 1.2);
  -o-transition: 0.6s cubic-bezier(0.8, -0.2, 0.2, 1.2);
  transition: 0.6s cubic-bezier(0.8, -0.2, 0.2, 1.2);
}
#game-complete {
  display: none;
}
#game-grid {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
  max-width: 900px;
}
@media screen and (min-width: 1200px) {
  #game-grid {
    max-width: 1200px;
  }
}
#game-grid .card-container {
  position: relative;
  width: 100px;
  height: 100px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  -webkit-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin: 20px;
  overflow: hidden;
  padding: 20px;
}
#game-grid .card-container.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@media screen and (min-width: 768px) {
  #game-grid .card-container {
    width: 150px;
    height: 150px;
  }
}
#game-grid .card-container img {
  max-width: 100%;
  padding: 16px;
  pointer-events: none;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#game-grid .card-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
#game-grid .card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
#game-grid .flipped .card-back {
  opacity: 1;
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}
#game-grid .flipped .card-front {
  opacity: 0;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
#game-grid .incorrect {
  -webkit-animation: wiggle 1s 1;
  animation: wiggle 1s 1;
}
#game-grid .flash {
  -webkit-animation: flash 0.5s 1;
  animation: flash 0.5s 1;
}
#stars-container {
  padding: 8px 2px;
}
#stars-container .star-container {
  width: calc(100% / 3);
  text-align: center;
}
img.star {
  max-height: 40px;
}
#highscores {
  width: 100%;
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#highscores.active {
  max-height: 100px;
}
#highscores strong {
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
/* Footer */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ff7000;
  color: #fafafa;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 16px;
}
/* Define some animations */
@-webkit-keyframes wiggle {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    border: 1px solid red;
    -webkit-transform: translate3d(-4px, 0, 0) scale(1.01);
    transform: translate3d(-4px, 0, 0) scale(1.01);
  }

  40%,
  60% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes wiggle {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    border: 1px solid red;
    -webkit-transform: translate3d(-4px, 0, 0) scale(1.01);
    transform: translate3d(-4px, 0, 0) scale(1.01);
  }

  40%,
  60% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
}
@-webkit-keyframes flash {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  60% {
    -webkit-filter: brightness(125%);
    filter: brightness(125%);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-filter: brightness(1);
    filter: brightness(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes flash {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  60% {
    -webkit-filter: brightness(125%);
    filter: brightness(125%);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-filter: brightness(1);
    filter: brightness(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
