* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Fonts */
html,
body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
  background: #fafafa;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rokkitt', serif;
}
input,
select,
textarea,
button {
  font-family: inherit;
  font-size: 18px;
}
/* General Elements */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  padding: 16px;
  background: #fff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* So the modal appears above other content */
  z-index: 999; 
}
.blurred{
  filter: blur(1px) grayscale(1);
}
#main-content{
  transition: .8s;
}
.btn {
  background: #b20020;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-family: 'Titillium Web', sans-serif;
  margin: 10px;
  padding: 8px 12px;
}
.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* Header */
header{
  padding: 16px;
  background: #0099FF;
}
header h1{
  color: #fefefe
}
/* Game Options */
.game-options {
  -webkit-transform: scale(1) translate(-50%, -50%);
  -ms-transform: scale(1) translate(-50%, -50%);
  transform: scale(1) translate(-50%, -50%);
  -webkit-transition: 0.6s cubic-bezier(0.8, -0.2, 0.2, 1.2);
  -o-transition: 0.6s cubic-bezier(0.8, -0.2, 0.2, 1.2);
  transition: 0.6s cubic-bezier(0.8, -0.2, 0.2, 1.2);
}
#game-grid {
  max-width: 900px;
  margin: auto;
  justify-content: center;
}
@media screen and (min-width: 1200px){
  #game-grid{
    max-width: 1200px;
  }
}
#game-grid .card-container {
  position: relative;
  margin: 20px;
  border-radius: 8px;
  overflow: hidden;
  width: 150px;
  height: 150px;
  border: 1px solid #333;
  padding: 20px;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
  background: #fff;
}
#game-grid .card-container img {
  max-width: 100%;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  padding: 16px;
}
#game-grid .card-front {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  transition: .4s;

}
#game-grid .card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  opacity: 0;
  transition: .4s;
}
#game-grid .flipped .card-back {
  opacity: 1;
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}
#game-grid .flipped .card-front {
  opacity: 0;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
#game-grid .incorrect{
  animation: wiggle 1s 1;
}
#game-grid .flash{
  animation: flash .5s 1;
}
#timer-container {
  position: absolute;
  top: 25px;
  right: 25px;
  background: #fafafa;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
  padding: 16px;
  border-radius: 8px;
}
/* Hidden Elements */
/* Declaring this last so it doesn't get overridden */
.hidden {
  /* Set transform so it can be animated on re-entry */
  -webkit-transform: scale(0) translateY(1000px);
  -ms-transform: scale(0) translateY(1000px);
  transform: scale(0) translateY(1000px);
  /* Visability: hidden so it cannot be selected by the keyboard */
  visibility: hidden;
}

@keyframes wiggle {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0) scale(1.01);
    border: 1px solid red;
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@keyframes flash{
  0%{
    transform: scale(1);
  }
  60%{
    transform: scale(1.1);
    filter: brightness(125%);
  }
  100%{
    transform: scale(1);
    filter: brightness(1);
  }
}